.card {
  display: flex;
  gap: 50px
}

.description-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.politician-image {
  max-width: 200px;
  max-height: 200px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.search-bar {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 10px;
}